div.group-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
}

form#group-submitter {
  display: flex;
  flex-direction: row;
  flex: auto;
}

form#group-submitter h4 {
  margin-right: 2rem;
  flex: 1 3 10%;
}

div#group-radio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 3 1 80%;
}

div#group-radio label.group-select-button {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

label.group-select-button input {
  flex: 0 0 15px;
}

label.group-select-button h5 {
  font-size: 0.9rem;
  flex: 1 1 auto;
}

form#group-submitter button {
  flex: 1 3 10%;
}